@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 203 52% 9%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  body {
    font-family: var(--font-secondary);
  }

  h1,
  .h1 {
    font-family: var(--font-primary);
  }

  .font-primary {
    font-family: var(--font-primary);
  }

  .font-secondary {
    font-family: var(--font-secondary);
  }

  p {
    line-height: 1.8;
  }

  .shadow-text {
    text-shadow: 3px 2px 0px #98d6fc, -3px -2px 0px #ffa456;
  }

  .gradient_1 {
    background: radial-gradient(
        113% 91% at 17% -2%,
        #fffcfaff 1%,
        #ff000000 99%
      ),
      radial-gradient(142% 91% at 83% 7%, #eeff7300 1%, #fff2ee 99%),
      radial-gradient(142% 91% at -6% 74%, #ffffff 1%, #ff000000 99%),
      radial-gradient(142% 91% at 108% 80%, #ffbd6f94 0%, #faff8e00 98%);
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes dashAnim {
    0% {
      stroke-dasharray: 20;
      stroke-dashoffset: 1;
    }
    50% {
      stroke-dasharray: 20;
      stroke-dashoffset: 100;
    }
    100% {
      stroke-dasharray: 20;
      stroke-dashoffset: 1;
    }
  }

  @keyframes anim_hue {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(120deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
  }
  @keyframes spin_reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes anim_saturation {
    0% {
      filter: saturate(1);
    }
    50% {
      filter: saturate(3);
    }
    100% {
      filter: saturate(1);
    }
  }

  #G_0,
  #G_1,
  #G_2,
  #G_3,
  #G_4,
  #G_5,
  #G_10,
  #icoFlower {
    will-change: transform;
    transform-origin: 50% 50%;
  }

  #icoFlower {
    animation: anim_saturation infinite 30s linear;
  }

  #G_0 {
    animation: spin infinite 60s linear;
  }

  #G_1 {
    animation: spin infinite 60s linear, anim_hue infinite 10s linear;
  }

  #G_2 {
    animation: spin infinite 60s linear, anim_hue infinite 10s linear;
  }

  #G_4 {
    animation: spin infinite 60s linear, anim_hue infinite 10s linear;
  }

  #G_5 {
    animation: spin infinite 60s linear, anim_hue infinite 10s linear;
  }

  #G_10 {
    fill: none;
    animation: spin_reverse infinite 60s linear, dashAnim infinite 10s linear;
  }

  .icoFlower__wrapper {
    background: radial-gradient(#0b1a23 50%, rgba(0, 0, 0, 0) 50%);
  }
}
